main {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1em;
    gap: 2em;
    font-weight: bold;


}


.sessaoTecnologias,
.sessaoPaixaoInovacao,
.sessaoOcupacao {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.categoryTitle {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 0.5em;
}


.category {
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    width: 95vw;
    max-height: 132px;
    display: flex;
    gap: 1em;

    img {
        max-width: 200px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}



.softwareLogos>img {
    width: 5vw !important;
    height: 5vw;
    max-width: 65px;
    max-height: 65px;
}

@media only screen and (max-width: 769px) {


    .category {
        flex-direction: column;
        width: 90vw;
        gap: 1em;
        max-height: inherit;

        img {
            max-width: 200px;
        }

        .content {
            gap: 1em;
        }

    }

    .softwareLogos>img {
        width: 10vw !important;
        height: 10vw;
    }

}